body{
font-family: Arial, Helvetica, sans-serif;
}

nav{
    width: 100%;
    height: 60px;
    background: #344051;
    margin: 0px 20px 0px 9px;
    margin:0;
}

html, body{
    height:100%;
    width:100%;
    font-size: 100%;
    line-height: 1;
    font-size:14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

.logo{
    color: #fff;
    font-size: 22px;
    line-height: 60px;
    padding-left: 240px;
    float: left;
}

.menu{
    float: left;
    padding-left: 120px;
}

.menu li{
    list-style-type: none;
    float: left;
    line-height: 60px;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    padding-left: 60px;
    margin: 0px -24px 0px 5px ;
}

.main{
    width: 100%;
    height: 689px;
    background: url("../img/boy.png") 100% 100%/auto 90% no-repeat;
}
.main2{
    margin-top: -45px;
    width: 100%;
    height: 690px;
    background: url("../img/bg.jpg") center/cover no-repeat;
    margin: -6px 10px 0px 9px;
    box-shadow: 10px 0px 50px 0px #161616 inset;
    margin: 0;
}

.title__container{
margin: 0px 400px 0px 30px;
color: #2c384a;
text-align: center;
}

.title__container h1{
    font-size: 60px;
    font-weight: bold;
    padding-top: 250px;
}

hr{
    margin: 20px 100px 0px 650px;
}

.title__container h4{
    margin-top: 40px;
    font-size: 22px;
    color: #8f949f;
}

.title__container input{
    height: 40px;
    text-align:center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #787879;
    font-size: 13px;
    padding: 0px 16px;
    margin: 38px 14px 0px 14px ;
}

.heading h2{
    margin-top: 80px;
    font-size: 26px;
    color: #263244;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0px 1px 1px #384354;
}

.main1{
    width: 100%;
    height: 230px;
    background: url("../img/circle.png") 50% 90%/auto 170px no-repeat; 
}

.hr{
    align-content: center;
}

.text, .text1{
    font-size: 14px;
    color: #80858f;
    text-align: center;
    line-height: 16px;
    text-shadow: 0px 1px 2px #80858f;
    padding-top: 10px;
    text-indent: 48px;
}

.downlade input{
    height: 38px;
    text-align: center;
    border: 2px solid #6f707e;
    background: none;
    border-radius: 5px;
    color: #6f707e;
    font-size: 13px;
    margin: 1840px 14px 0px 14px;
    padding: 0px 10px 0px 30px;
    display:flex;
    justify-content: center;
    background: url("../img/icon.png") 7% 50%/auto 40% no-repeat;
}

.downlade {
    position: absolute;
    margin: 0;
    top: 52%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.be_able_to h2{
    margin-top: 80px;
    font-size: 26px;
    color: #263244;
    text-align: center;
    text-transform: uppercase;
    line-height: 200px;
    padding:110px 17px 10px 0px;
    text-shadow: 0px 1px 1px #384354;
}

.container2 {
    width: 100%;
    height: 100%;
    background: url("../img/grey background.jpg") 50% 100%/auto 87% no-repeat;
    margin: 60px 10px 30px -9px;
    margin: 0;
}

.image4 {
    width: 100%;
    height: 110px;
    background: url("../img/notebook.png") 16% 200px/auto 36px no-repeat,
     url("../img/sign.png") 37% 200px/auto 36px no-repeat, 
     url("../img/rocket.png") 59% 200px/auto 36px no-repeat, 
     url("../img/gramophone.png") 82% 200px/auto 36px no-repeat;
     padding-top: 260px;  
}


.orange {
    display: inline;
    color: #d49152;
    font-weight: 600;
    line-height: 30px;
    font-size: 16px;
    text-align: center;
    word-spacing: 178px;
    margin: 4px 14%;
    width: 890px;
}

.text_stroch1, .text_stroch2, .text_stroch3, .text_stroch {
    text-align: center;
    padding: center;
    line-height: 20px;
    width:87%;
    margin:-20px 85px;
    color: #3f495a;
    text-shadow: 0px 0px 1px #3f495a;
}

.case h2{
    margin-top: 80px;
    font-size: 26px;
    color: #384354;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0px 1px 1px #384354;
}

.p{
    margin: 0px 400px 0px 200px;
    color: #3f495a;
    text-shadow: 0px 1px 0px #3f495a;
    padding: center;
    margin: 30px 300px;
}

.container3 {
    width: 100%;
    height: 800px;
    background: url("../img/photo.jpg") 100% 100%/auto 100% no-repeat; 
    display: inline-flex;
    margin: auto -100px;
    float: left; 
}

.cases {
    width: 100%;
    height: 70px;
    padding-left: 140px;
    float: left;
    margin-top: -210px;
    color: #3f495a;
    font-size: 13px;
}

.project {
    width: 100%;
    height: 100px;
    line-height: 16px;
    padding-top: 10px;
    text-indent: -1600px;
    margin-top:615px;
    text-align:center;
    color: #384354;
    text-shadow: 0px 1px 1px #384354;
    text-transform:none;
    font-size: 16px;  
    line-height: 20px;
}

.center {
    width: 100%;
    height: 100px;
    padding-top: 10px;
    text-indent: -768px;
    margin-top:-80px;
    text-align:justify;
    line-height: 20px;
    color:#8e939b;
    text-shadow: 0px 1px 1px #8e939b;
    
}

.gr{
    color: #384354;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 17px;
    line-height: 30px;
}

.a1 a{
    color:#384354;
}

.son input{
    height: 100%;
    width: 100px;
    text-align:center;
    border-radius: 5px;
    color: #ffffff;
    font-size: 14px;
    float: left;
    background: #63b5ae;
    margin: -100px 0px 0px 135px;
    padding: 0px 95px 17px;
    display:flex;
    justify-content: center;
    text-transform: uppercase;
    border: 2px solid #ffffff;
}

.son input{
    padding-top:15px; 
}

.price h2{
    margin-top: 200px;
    font-size: 26px;
    color: #384354;
    text-align: center;
    text-shadow: 0px 1px 1px #384354;
}

.choice h4{
    text-indent: -250px;
    margin-bottom: -30px;
    font-size: 20px;
    color: #384354;
    text-transform: uppercase;
    text-align: left;
    padding-left: 530px;
    margin-top: 50px ;
    text-shadow: 1px 0px 0px #384354;
}

.option_choice {
    height: 50px;
    text-align:left;
    background: none;
    border-radius: 5px;
    font-size: 13px;
    padding: 0px 600px;
    margin: 0px 0px -100px 0px;
    background: #eeeeee;
    border: 2px solid #ffffff;
    margin-top: 50px;
    margin-left: 280px;
    padding-left: 20px;
    color: #7d7d7d;
}  

.sr_st {
   margin: -50px 0px 0px 280px;
   line-height:30px;
   text-shadow: 0px 0px 1px #1c2534;
}

.num{
    line-height:30px;
    margin: -60px 10px 0px 1020px;
    text-shadow: 1px 1px 1px #1c2534;
}

.line{
border-bottom: 1px solid #d1d1d1;
margin: 40px 335px 60px 280px;

}
.static h2{
    font-size: 25px;
    text-shadow: 1px 0px 0px #263244;
    color: #263244;
    text-align: center;
    text-transform: uppercase;
    margin: 214px 400px 23px 425px;
}

.keyboard{
    width: 100%;
    height: 950px;
    background: url("../img/keyboard.jpg")  50% 110px/auto 50% no-repeat; 
    float: left; 
   
    margin:0;
}

.image4_2{
    width: 100%;
    height: 115px;
    background: url("../img/smail.png") 245px 100px/auto 40px no-repeat,
     url("../img/bracket.png") 520px 100px/auto 40px no-repeat, 
     url("../img/check.png") 810px 100px/auto 40px no-repeat, 
     url("../img/cup.png") 1068px 100px/auto 40px no-repeat;
    padding-top: 460px;  
}

.numbers{
    color: #323e4f;
    font-weight: 1000;
    padding-bottom:-10px;
    font-size: 26px;
    text-align: center;
    word-spacing: 210px;
    padding: center;
    margin: -300px 230px;
    width: 890px;
}

.text3 tr{
    height:100%;
    color: #323e4f;
    font-size: 11px;
    text-align: center;
    width:70%;
    margin:300px 20px;
    text-transform: uppercase;
    font-weight: 700;
}

.text3{
    margin: 300px 100px 0px 80px;
}

.review h2{
    margin-top:180px;
    font-size: 26px;
    color: #263244;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0px 1px 1px #384354;
}
.director_photo{
    width: 100%;
    height: 100px;
    background: url("../img/director.png")50% 100%/auto 90% no-repeat;
    margin: 40px 370px 20px 0px;
}

.gazprom{
    font-size: 14px;
    color: #525965;
    text-align: center;
    line-height: 16px;
    padding-top: 10px;
    text-indent: 48px;
    text-shadow: 0px 0px 1px #525965;
}

.director{
    font-size: 14px;
    color: #525965;
    text-align: center;
    line-height: 60px;
    text-shadow: 0px 0px 1px #525965;
}

.contacts h2{
    font-size: 26px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    margin: 160px 10px 30px 5px;
    text-shadow: 1px 0px 1px #ffffff;
}

.cont_text{
    margin: 30px 90px 0px 400px;
    color: #ffffff;
    padding: center;
}

.cont_photo {
    width: 100%;
    height: 700px;
    background: url("../img/contacts.jpg") 50% 100%/auto 90% no-repeat; 
    float: left; 
    margin: 0;
}

.contacts_im{
    width: 100%;
    height: 115px;
    background: url("../img/geo.png") 37% 30px/auto 25px no-repeat,
    url("../img/envelope.png") 50% 30px/auto 25px no-repeat,
    url("../img/ring.png") 63% 30px/auto 25px no-repeat;
}

.prospect a{
    width: 100%;
    height: 30px;
    color: #ffffff;
    font-size: 11px;
    text-align: center;
    padding:left;
    width:100%;
    margin:0px -540px 0px 615px;
    white-space: nowrap;
    flex-flow: column wrap;
    position: inherit;
}

.info{
    margin-top:-30px;
    position: inherit;
}

.pr {
    font-size: 11px;
    color: #ffffff;
    margin:-50px 0px 0px 250px; 
    padding-left: 220px;
    position: inherit;
    line-height: 15px;
   
} 

.message {
    font-size: 15px;
    text-shadow: 0px 0px 1px #ffffff;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    margin: 25px 10px 20px 35px;
    
}

.placeholder-form {
    box-sizing: border-box;
    width: 580px;
    margin: 10px auto;
    display: flex;
    opacity: 0.8;
}

.placeholder-container {
    position: relative;
    width: 100%;
    margin-bottom: 30px;  
    margin-left: 20px; 
}

.placeholder-container input {
    background-color: #FFF;
    display: block;
    box-sizing: border-box;
    color: #000;
    font-size: 16px;
    line-height: 16px; 
    height: 30px;
    outline: 0;
    padding: 0 10px;
    width: 100%;
}

.placeholder-container label {
    color: rgb(97, 92, 92); 
    background-color: #FFF;
    font-size: 15px;
    line-height: 16px;
    padding: 5px 1px;
    pointer-events: none;
    position: absolute;
    transition: all 200ms;
    top: 3px;
    left: 10px;
    background-color: #FFF;
    
}

.placeholder-container input:focus + label,
.placeholder-container input:not(:placeholder-shown) + label{
    top: -10px;
    left: 10px;
    font-size: 11px;
    background-color: #BFE2FF;
    padding: 2px 10px;
}

.textarea{
    height: 100%;
    width: 100px;
    border-radius: 1px;
    color: #ffffff;
    font-size: 14px;
    padding: 0px 0px 0px 412px;
    display:flex-box;
    justify-content: left; 
    background: transparent;
    opacity: 0.8; 
    margin-top: -24px; 
}

.textarea textarea{
   height: 70px;
   width: 560px;
   padding: 10px 10px;
}

.send input{
    height: 35px;
    border: 2px solid #ffffff;
    background: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 13px;
    padding: 10px 20px;
    margin: 25px 27px 0px 630px ;
}

.network{
    width: 100%;
    height: 115px;
    background: url("../img/fb.png") 522px 46px/auto 21px no-repeat,
    url("../img/tv.png") 574px 46px/auto 21px no-repeat,
    url("../img/ball.png") 639px 46px/auto 21px no-repeat,
    url("../img/cat.png") 700px 46px/auto 21px no-repeat,
    url("../img/inst.png") 764px 46px/auto 21px no-repeat,
    url("../img/in.png") 825px 46px/auto 21px no-repeat;
}

.map{
    width: 100%;
    height: 640px;
    background: url("../img/map.jpg") 0% 70%/auto 41% no-repeat; 
    margin: auto -10px;
    float: left; 
    margin-top: -300px;
    margin: -283px 0px 0px -0px;
}

.here input{
    height: 35px;
    text-align:center;
    background: #ffffff;
    border: 0px solid #ffffff;
    font-weight: 600;
    border-radius: 0px;
    color: #000000;
    font-size: 13px;
    padding: 0px 16px;
    margin: 370px 400px 0px 650px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.nav{
    width: 100%;
    height: 60px;
    background: #344051; 
    margin: 943px 0px 0px 0px ;  
}

.tx {
    color:#ffffff;
    font-size: 13px;
    border:40px;
    float: center;  
    padding: 20px 400px 0px 560px;
    position:absolute;
    letter-spacing: -1px;
}
