body{
font-family: Arial, Helvetica, sans-serif;
}

nav{
    width: 100%;
    height: 60px;
    background: #344051;
    margin: 0px 20px 0px 9px;
    margin:0;
    position: fixed;
}

html, body{
    height:100%;
    width:100%;
    font-size: 100%;
    line-height: 1;
    font-size:14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    
}

.logo{
    color: #fff;
    font-size: 22px;
    line-height: 60px;
    padding-left: 240px;
    float: left;
    -webkit-animation: ease comming 2s;
    -o-animation: ease comming 2s;
    animation: ease comming 2s;
}

.main{
    width: 100%;
    height:100%;
}

.menu li a{
    transition: all 0.1s;
    color: white;
    transform: scale(1);
    display: inline-block;
}

.menu li a:visited{
    color: white;
}

.menu li a:hover{
    color: #f58f0a;
   
}

.menu li a:active{
    transform: scale(1.1);
}

.title__container input{
    transition: all 0.2s;
}

.title__container input:hover{
    background: #344051;
    color: white;
}

.title__container input:active{
    transform: scale(1.1);
}

@keyframes comming{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes topshift{
    from{
        opacity: 0;
        margin-top:-80px;
    }

    to{
        opacity: 1;
        margin-top: 0px;
    }
}

.menu li:nth-child(2){
    animation-delay: 0.4s;
}


.menu li:nth-child(3){
    animation-delay: 0.8s;
}


.menu li:nth-child(4){
    animation-delay: 1.2s;
}


.menu li:nth-child(5){
    animation-delay: 1.6s;
}


.menu li:nth-child(6){
    animation-delay: 2s;
}


@keyframes titlemove{
    from{
        opacity: 0;
        margin-left:-500px;
    }

    to{
        opacity: 1;
        margin-left: 30px;
    }
}

.menu{
    float: left;
    padding-left: 120px;
}

.menu li{
    list-style-type: none;
    float: left;
    line-height: 60px;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    padding-left: 60px;
    margin: 0px -24px 0px 5px ;
    -webkit-animation: topshift 0.4s ease forwards;
    -o-animation: topshift 0.4s ease forwards;
    animation: topshift 0.4s ease forwards;
    opacity: 0;
}

.main{
    width: 100%;
    height: 689px;
    background: url("../img/boy.png") 100% 100%/auto 90% no-repeat;
   
}


.main2{
    margin-top: -45px;
    width: 100%;
    height: 690px;
    background: url("../img/bg.jpg") center/cover no-repeat;
    margin: -6px 10px 0px 9px;
    box-shadow: 10px 0px 50px 0px #161616 inset;
    margin: 0;
}

.title__container{
margin: 0px 400px 0px 30px;
color: #2c384a;
text-align: center;
opacity: 0;
-webkit-animation: titlemove 1s ease forwards;
-o-animation:  titlemove 1s ease forwards;
animation:  titlemove 1s ease forwards;
-webkit-animation-delay: 2.4s;
-o-animation-delay: 2.4s;
animation-delay: 2.4s;
}

.title__container h1{
    font-size: 60px;
    font-weight: bold;
    padding-top: 250px;
}

hr{
    margin: 20px 100px 0px 650px;
}

.title__container h4{
    margin-top: 40px;
    font-size: 22px;
    color: #8f949f;
}

.title__container input{
    height: 40px;
    text-align:center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #787879;
    font-size: 13px;
    padding: 0px 16px;
    margin: 38px 14px 0px 14px ;
}

.heading h2{
    margin-top: 80px;
    font-size: 26px;
    color: #263244;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0px 1px 1px #384354;
}

.main1{
    width: 100%;
    height: 230px;
    background: url("../img/circle.png") 50% 90%/auto 170px no-repeat; 
}

.hr{
    align-content: center;
}

.text, .text1{
    font-size: 14px;
    color: #80858f;
    text-align: center;
    line-height: 16px;
    text-shadow: 0px 1px 2px #80858f;
    padding-top: 10px;
    text-indent: 48px;
}

.downlade input{
    height: 38px;
    text-align: center;
    border: 2px solid #6f707e;
    background: none;
    border-radius: 5px;
    color: #6f707e;
    font-size: 13px;
    margin: 1690px 14px 0px 14px;
    padding: 0px 10px 0px 30px;
    display:flex;
    justify-content: center;
    background: url("../img/icon.png") 7% 50%/auto 40% no-repeat;
    
}

.downlade {
    position: absolute;
    margin: 0;
    top: 52%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.be_able_to h2{
    margin-top: 80px;
    font-size: 26px;
    color: #263244;
    text-align: center;
    text-transform: uppercase;
    line-height: 200px;
    padding:110px 17px 10px 0px;
    text-shadow: 0px 1px 1px #384354;
}

.container2 {
    width: 100%;
    height: 100%;
    background: url("../img/grey background.jpg") 50% 100%/auto 87% no-repeat;
    margin: 60px 10px 30px -9px;
    margin: 0;
}

.image4 {
    width: 100%;
    height: 110px;
    background: url("../img/notebook.png") 16% 200px/auto 36px no-repeat,
     url("../img/sign.png") 37% 200px/auto 36px no-repeat, 
     url("../img/rocket.png") 59% 200px/auto 36px no-repeat, 
     url("../img/gramophone.png") 82% 200px/auto 36px no-repeat;
     padding-top: 260px;  
}


.orange {
    display: inline;
    color: #d49152;
    font-weight: 600;
    line-height: 30px;
    font-size: 16px;
    text-align: center;
    word-spacing: 178px;
    margin: 4px 14%;
    width: 890px;
}

.text_stroch1, .text_stroch2, .text_stroch3, .text_stroch {
    text-align: center;
    padding: center;
    line-height: 20px;
    width:87%;
    margin:-20px 85px;
    color: #3f495a;
    text-shadow: 0px 0px 1px #3f495a;
}

.case h2{
    margin-top: 80px;
    font-size: 26px;
    color: #384354;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0px 1px 1px #384354;
}

.p{
    margin: 0px 400px 0px 200px;
    color: #3f495a;
    text-shadow: 0px 1px 0px #3f495a;
    padding: center;
    margin: 30px 300px;
}

.container3 {
    width: 100%;
    height: 800px;
    background: url("../img/photo.jpg") 100% 100%/auto 100% no-repeat; 
    display: inline-flex;
    margin: auto -100px;
    float: left; 
}

.cases {
    width: 100%;
    height: 70px;
    padding-left: 140px;
    float: left;
    margin-top: -210px;
    color: #3f495a;
    font-size: 13px;
}

.project {
    width: 100%;
    height: 100px;
    line-height: 16px;
    padding-top: 10px;
    text-indent: -1600px;
    margin-top:615px;
    text-align:center;
    color: #384354;
    text-shadow: 0px 1px 1px #384354;
    text-transform:none;
    font-size: 16px;  
    line-height: 20px;
}

.center {
    width: 100%;
    height: 100px;
    padding-top: 10px;
    text-indent: -768px;
    margin-top:-80px;
    text-align:justify;
    line-height: 20px;
    color:#8e939b;
    text-shadow: 0px 1px 1px #8e939b;
    
}

.gr{
    color: #384354;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 17px;
    line-height: 30px;
}

.a1 a{
    color:#384354;
}

.son input{
    height: 100%;
    width: 100px;
    text-align:center;
    border-radius: 5px;
    color: #ffffff;
    font-size: 14px;
    float: left;
    background: #63b5ae;
    margin: -100px 0px 0px 135px;
    padding: 0px 95px 17px;
    display:flex;
    justify-content: center;
    text-transform: uppercase;
    border: 2px solid #ffffff;
}

.son input{
    padding-top:15px; 
}

.price h2{
    margin-top: 200px;
    font-size: 26px;
    color: #384354;
    text-align: center;
    text-shadow: 0px 1px 1px #384354;
}

.choice h4{
    text-indent: -530px;
    margin-bottom: -30px;
    font-size: 20px;
    color: #384354;
    text-transform: uppercase;
    text-align: left;
    padding-left: 530px;
    margin-top: 50px ;
    text-shadow: 1px 0px 0px #384354;
}

.option_choice {
    height: 50px;
    text-align:left;
    background: none;
    border-radius: 5px;
    font-size: 13px;
    padding: 0px 480px;
    margin: 0px 0px -100px 0px;
    background: #eeeeee;
    border: 2px solid #ffffff;
    margin-top: 50px;
    margin-left: -5px;
    padding-left: 20px;
    color: #7d7d7d;
}  


.box{
    width: 700px;
    height: 98%;
    border: 0px solid #ffffff;
    
    border-radius: 0px;
    color: #000000;
    border-width: 20px 0px 10px 10px;
    padding: 40px 30px;
    margin: -60px 0px -50px 350px;
    box-shadow: 0 14px 28px rgba(151, 144, 144, 0.25), 0 10px 10px rgba(121, 115, 115, 0.22);
}


.request input{
    height: 100%;
    width: 100px;
    text-align:center;
    border-radius: 5px;
    color: #ffffff;
    font-size: 14px;
    float: left;
    background: #28b1a5;
    margin: 20px 100px 0px 220px;
    padding: 0px 80px 10px;
    display:flex;
    justify-content: center;
    border: 2px solid #ffffff;
}

.request input{
    padding-top:10px; 
}

.sr_st {
   margin: -50px 0px 0px 5px;
   line-height:30px;
   text-shadow: 0px 0px 1px #1c2534;
}

.num{
    line-height:30px;
    margin: -60px 10px 0px 620px;
    text-shadow: 1px 1px 1px #1c2534;
}

.line{
    border-bottom: 1px solid #d1d1d1;
    width: 628px;
    margin: 40px 5px 60px -2px;
}

.block{
    margin-top: 100px;
    margin-bottom: -40px;

}

.static h2{
    font-size: 25px;
    text-shadow: 1px 0px 0px #263244;
    color: #263244;
    text-align: center;
    text-transform: uppercase;
    margin: 210px 400px 23px 400px;
    padding-top: 105px;
}

.keyboard{
    width: 100%;
    height: 100%;
    float: left; 
   
}

.image4_2{
    width: 100%;
    height: 115px;
    background: url("../img/smail.png") 245px 100px/auto 40px no-repeat,
     url("../img/bracket.png") 520px 100px/auto 40px no-repeat, 
     url("../img/check.png") 810px 100px/auto 40px no-repeat, 
     url("../img/cup.png") 1068px 100px/auto 40px no-repeat;
    padding-top: 460px;  
}


section {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
  }
  section.sec1 {
    background: url("../img/keyboard.jpg")  50% 60px/auto 60% no-repeat; 
    background-attachment: fixed;
    margin:0;
  }


.numbers{
    color: #323e4f;
    font-weight: 1000;
    padding-bottom:-10px;
    font-size: 26px;
    text-align: center;
    word-spacing: 210px;
    padding: center;
    margin: -300px 230px;
    width: 890px;
}

.text3 tr{
    height:100%;
    color: #323e4f;
    font-size: 11px;
    text-align: center;
    width:70%;
    margin:300px 20px;
    text-transform: uppercase;
    font-weight: 700;
}

.text3{
    margin: 300px 100px 0px 80px;
}

.review h2{
    margin-top:160px;
    font-size: 26px;
    color: #263244;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0px 1px 1px #384354;
}

.director_photo{
    width: 100%;
    height: 100px;
    background: url("../img/director.png")50% 100%/auto 90% no-repeat;
    margin: 30px 370px 20px 0px;
}

.gazprom{
    font-size: 14px;
    color: #525965;
    text-align: center;
    line-height: 16px;
    padding-top: 10px;
    text-indent: 48px;
    text-shadow: 0px 0px 1px #525965;
}

.director{
    font-size: 14px;
    color: #525965;
    text-align: center;
    line-height: 60px;
    text-shadow: 0px 0px 1px #525965;
}

.radio label{
  padding:650px;
    line-height: 30px;
   
}

input[type=radio] {
    border: 0px;
    height: 0.8em;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #ffa500;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

.contacts h2{
    font-size: 26px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    margin: 140px 10px 30px 5px;
    text-shadow: 1px 0px 1px #ffffff;
}

.cont_text{
    margin: 30px 90px 0px 400px;
    color: #ffffff;
    padding: center;
}

.cont_photo {
    width: 100%;
    height: 700px;
    background: url("../img/contacts.jpg") 50% 100%/auto 90% no-repeat; 
    float: left; 
    margin: 0;
}

.contacts_im{
    width: 100%;
    height: 115px;
    background: url("../img/geo.png") 37% 30px/auto 25px no-repeat,
    url("../img/envelope.png") 50% 30px/auto 25px no-repeat,
    url("../img/ring.png") 63% 30px/auto 25px no-repeat;
}

.prospect a{
    width: 100%;
    height: 30px;
    color: #ffffff;
    font-size: 11px;
    text-align: center;
    padding:left;
    width:100%;
    margin:0px -540px 0px 615px;
    white-space: nowrap;
    flex-flow: column wrap;
    position: inherit;
}

.info{
    margin-top:-45px;
    position: inherit;
}

.pr {
    font-size: 11px;
    color: #ffffff;
    margin:-65px 0px 0px -570px; 
    padding-left: 220px;
    position: inherit;
    line-height: 15px;
   
} 

.message h4{
   
    text-shadow: 0px 0px 1px #ffffff;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    margin: 10px 10px 20px 35px;
    
}

.placeholder-form {
    box-sizing: border-box;
    width: 580px;
    margin: 10px auto;
    display: flex;
    opacity: 0.8;
}

.placeholder-container {
    position: relative;
    width: 100%;
    margin-bottom: 27px;  
    margin-left: 20px;
}

.placeholder-container input {
    background-color: #FFF;
    display: block;
    box-sizing: border-box;
    color: #000;
    font-size: 16px;
    line-height: 16px; 
    height: 30px;
    outline: 0;
    padding: 0 10px;
    width: 100%;
}

.placeholder-container label {
    color: rgb(97, 92, 92); 
    background-color: #FFF;
    font-size: 15px;
    line-height: 16px;
    padding: 5px 1px;
    pointer-events: none;
    position: absolute;
    transition: all 200ms;
    top: 3px;
    left: 10px;
    background-color: #FFF;
    
}

.placeholder-container input:focus + label,
.placeholder-container input:not(:placeholder-shown) + label{
    top: -10px;
    left: 10px;
    font-size: 11px;
    background-color: #BFE2FF;
    padding: 2px 10px;
}

.textarea{
    height: 100%;
    width: 100px;
    border-radius: 1px;
    color: #ffffff;
    font-size: 14px;
    padding: 0px 0px 0px 412px;
    display:flex-box;
    justify-content: left; 
    background: transparent;
    opacity: 0.8; 
    margin-top: -24px; 
}

.textarea textarea{
   height: 70px;
   width: 560px;
   padding: 10px 10px;
   resize:none;
}

.send input{
    height: 35px;
    border: 2px solid #ffffff;
    background: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 13px;
    padding: 10px 20px;
    margin: 25px 27px 0px 630px ;

}

.send input{
    transition: all 0.1s;
    transform:scale(1);
}

.send input:hover{
    background: #000000;
    color:white;
}

.send input:active{
    transform:scale(1.1)
}

.network{
    width: 100%;
    height: 115px;
    background: url("../img/fb.png") 522px 49px/auto 21px no-repeat,
    url("../img/tv.png") 574px 49px/auto 21px no-repeat,
    url("../img/ball.png") 639px 49px/auto 21px no-repeat,
    url("../img/cat.png") 700px 49px/auto 21px no-repeat,
    url("../img/inst.png") 764px 49px/auto 21px no-repeat,
    url("../img/in.png") 825px 49px/auto 21px no-repeat;
}

.map{
    width: 100%;
    height: 640px;
    background: url("../img/map.jpg") 0% 70%/auto 41% no-repeat; 
    margin: auto -10px;
    float: left; 
    margin-top: -300px;
    margin: -283px 0px 0px -0px;
}

.here input{
    height: 35px;
    text-align:center;
    background: #ffffff;
    border: 0px solid #ffffff;
    font-weight: 600;
    border-radius: 0px;
    color: #000000;
    font-size: 13px;
    padding: 0px 16px;
    margin: 370px 400px 0px 650px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.nav{
    width: 100%;
    height: 60px;
    background: #344051; 
    margin: 938px 0px 0px 0px ; 
    position:absolute; 
}

.tx {
    color:#ffffff;
    font-size: 13px;
    border:40px;
    float: center;  
    padding: 20px 400px 0px 560px;
    position:absolute;
    letter-spacing: -1px;
}

.mail-btn {
  position:relative;
  display:inline-block;
  padding:0.5rem 1rem;
  border:2px solid rgba(255,255,255,0.5);
  background:none;
  outline:none;
  -webkit-appearance: none;
  font-size: 1rem;
  color:rgba(255,255,255,1);
  text-decoration:none;
  text-transform:uppercase;
  letter-spacing:0.5rem;
  text-indent:0.5rem;
  cursor:pointer;
  transition:
    color 1.5s .5s,
    border 3s 1s;
    margin: 20px 0px 7px 600px;
  
}
.mail-btn:before,
.mail-btn:after {
  content:'';
  position:absolute;
  opacity:0;
  backface-visibility:visible;
  transform-style:preserve-3d;
  perspective:200px;
  transform:rotateX(360deg) rotateY(0) translateX(-50%) translateY(0) scale(0.2);
  transition:all 0.5s;
}
.mail-btn:before {
  top:5px;
  left:50%;
  height:3rem;
  background:white;
  border-top:2rem solid #153246;
  border-right:3rem solid transparent;
  border-left:3rem solid transparent;
}
.mail-btn:after {
  top:0;
  left:50%;
  border-top:2rem solid white;
  border-right:3rem solid transparent;
  border-left:3rem solid transparent;
}
.mail-btn:hover {
  color:rgba(255,255,255,0);
  border:2px solid rgba(255,255,255,0);
  transition:
    color .25s,
    border .25s;
}
.mail-btn:hover:before,
.mail-btn:hover:after {
  opacity:1;
  transform:rotateX(0) rotateY(-10deg) translateX(-50%) translateY(0) scale(1);
}
.fly {
  color:rgba(255,255,255,0);
  border:2px solid rgba(255,255,255,0);
  animation:sended 4s 0.8s forwards;
}
@keyframes sended {
  0% {
    height:2rem;
    width:3.5rem;
    border-top:0;
    border-right:0;
    border-bottom:10px solid white;
    border-left:10px solid white;
    opacity:0;
    transform:rotate(-45deg) translateX(300%) translateY(-500%);
  }
  5% {
    height:2rem;
    width:3.5rem;
    border-top:0;
    border-right:0;
    border-bottom:10px solid white;
    border-left:10px solid white;
    opacity:1;
    transform:rotate(-45deg) translateX(0) translateY(0);
  }
  78% {
    height:2rem;
    width:3.5rem;
    border-top:0;
    border-right:0;
    border-bottom:10px solid white;
    border-left:10px solid white;
    opacity:1;
    transform:rotate(-45deg) translateX(0) translateY(0);
  }
  79% {
    height:2rem;
    width:3.5rem;
    border-top:0;
    border-right:0;
    border-bottom:10px solid white;
    border-left:10px solid white;
    opacity:0;
    transform:rotate(-45deg) translateX(0) translateY(0);
  }
  80% {
    height:auto;
    width:auto;
    color:rgba(255,255,255,0);
    border:2px solid rgba(255,255,255,0);
    opacity:0;
    transform:rotate(0) translateX(0) translateY(0);
  }
  100% {
    height:auto;
    width:auto;
    color:rgba(255,255,255,1);
    border:2px solid rgba(255,255,255,0.5);
    opacity:1;
    transform:rotate(0) translateX(0) translateY(0);
  }
}
.fly:before,
.fly:after {animation:flyout .6s forwards;}
@keyframes flyout {
  0% {
    opacity:1;
    transform:rotateX(0) rotateZ(0) translateX(-50%) translateY(0) scale(1);
  }
  33% {
    opacity:0.66;
    transform:rotateX(0) rotateZ(-5deg) translateX(-100%) translateY(0) scale(1);
  }
  100% {
    opacity:0;
    transform:rotateX(0) rotateZ(0) translateX(1000%) translateY(0) scale(1);
  }
}

.resume input:hover{
    transform: scale(1.1);

}

.son input:hover{
    transform: scale(1.1);
}



.request input:hover{
   
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
    outline-offset: 15px;
    outline-color: rgba(255, 255, 255, 0);
    text-shadow: 1px 1px 2px #427388;
}

.here input:hover{
  border: 1px solid rgb(233, 226, 226);
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
  outline-offset: 15px;
  outline-color: rgba(255, 255, 255, 0);
  
}

.request input:after {
    background: #fff;
    content: "";
    height: 155px;
    left: -75px;
    opacity: .2;
    position: absolute;
    top: -50px;
    width: 50px;
    -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
            transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    -webkit-transform: rotate(35deg);
        -ms-transform: rotate(35deg);
            transform: rotate(35deg);
    z-index: -10;
  }
  
  .request input:hover:after {
    left: 120%;
    -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
            transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  }
  